/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.navbar-header {
    float: left;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}
a.navbar-brand {
  font-size:50px;
  font-weight:bold;

}
fieldset {
  /*margin-left:300px;*/
}
#pide {
  /*margin-left:300px;*/
  font-weight:bold;
}
input {
  display:block;
}
legend {
  display:block;
}
#seccion1, #seccion2, #seccion3 {
  display:none;
}
#resto1, #resto2, #resto3 {
  display:none;
}
.deco {
  font-weight:bold;

}
.deco:hover {
  /* text-decoration: underline; */
  transition: all 1s;
  color: red;
}

#logo {
  height:130px;
  width:130px;
  position:relative;
  margin-bottom:20px;
  margin-left:20px;

}

#logo:hover {
  opacity:0.85;
}
#logo-fijo {
  height:60px;
  width:60px;
  position:fixed;
  right:5px;
  bottom:5px;
  margin-left:800px;
  opacity:0.7;
}
#logo-fijo:hover {
  opacity:1;
}
.añadirmas{
  cursor:pointer;
}
.aparte {
  display:block;
}
.campo {
  display:inline-block;
}
.otrodiv {
  display:inline-block;
}
#divcantidad {
  margin-left:100px;
}
#cantidad {
  margin-left:145px;
}
#collar1, #collar2, #cantidad, #cantidad2 {
  display:inline;
}
#btc, #btc2 {
  width:2em;
  border:1px solid white;
  border-radius:20%;
  color:white;
  background-color:gray;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}
div.modal-header{
  background-color:#243F35;
  opacity:0.9;
}
div.modal-header:hover {
  opacity:0.8;
}
button.btn.btn-default{
  background-color:#243F35;
  opacity:0.9;
}
button.btn.btn-default:hover{
  opacity:0.8;
}
a.producto {
  text-decoration:none;
  color:white;
  font-size:36px;
}
a.producto:hover {
  text-decoration:underline;
  color:white;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
a.navbar-brand {
  font-size:50px;
  font-weight:bold;

}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  height:150px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three \umns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 10px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.deco {
    cursor: pointer;
}
transition-delay
.añadirmas1 {
    cursor: pointer;
}
